@import url(https://fonts.googleapis.com/css?family=Poppins);

body {
  margin: 0;
  font-family: poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: poppins;
}

.no-margin {
  margin: 0px;
  padding: 0px;
}